body {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3, h4, h5 h6 {
	margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
	box-sizing: border-box;
	margin: 0;
}

img {
	margin: 0;
}
a {
    text-decoration: none; 
}

/*==========
Container==========*/
.container {
	width: 100%;
	max-width: 1070px;
	margin: 0 auto;
}


/*=====
 HEADER  */
.header {
     padding: 53px 0 53px;
     background:  rgba(255, 113, 67, 0.27);
 }

 .header--flex, .footer__flex, .intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.nav__li{ 
    margin-left: 50px;
    display: inline-block;
}

.nav__li:first-child{
    margin-left: 0px;
}

.nav__link {
    
     font-family:'DM Sans', sans-serif;
     font-size: 15px;
     font-weight: 700;
     color: #696871;
     line-height: 20px;
     transition: 300ms;
 }
.nav__link:hover {
    color: #19191B;
}


.btn {
    font-family:'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;

    width: 212px;
    height: 62px;

    border: 0px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.btn--wrapper{
    background: #FF7143;
    
}

.btn--wrapper:hover{
    background: #fc7c51;
    transition: 300ms;
}

 /* =====
 ===INTRO */
.intro {
    margin: 100px auto 90px;
}

.intro__wrapper {
    max-width: 500px;
}


 .intro__title {
    margin-bottom: 30px;

    font-family:'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    color: #19191B;
 }

.intro__text {
    margin-bottom: 50px;

    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #696871;

}

.btn--voilet{
    background: #5454D4;
}

.btn--voilet:hover {
    background: #5252c1;
    transition: 300ms;
}

.btn--try{
    margin-left: 35px;
    background: none;
    border: 1px solid #5454D4;

}
.btn--try:hover{
    background: #efefef;
    border: none;
    transition: 300ms;
}
.btn--text2{  
    color: #5454D4;
}



/* Footer */
.footer {
    padding: 53px 0 53px;
    background:  rgba(255, 113, 67, 0.27);
}
